.L {
    background-color: #aa0000;
}

.W {
    background-color: #047e00;
}

.D {
    background-color: #e2dc00;
}

.invisibility {
    visibility: hidden;
}

.hiden {
    display: none;
}

.teamDisplayTable {
    margin-left: 10px;
    width: 350px;
}

.textBox {
    width: 30px;
}

.sub-title {
    margin-top: -2%;
}

label{
    margin-right:5px;
}

#stats {
    position: relative;
    left: -15%;
}

.highlight {
    background-color: #beedeb;
    display: inline-block;
    opacity: 1 !important;
}

.highlight, .leagueOption:hover {
    opacity: .5;
}


#myProgress {
  width: 50%;
  background-color: grey;
}

#wins {
  width: 60%;
  height: 30px;
  background-color: green;
}

#loses {
  width: 100%;
  height: 30px;
  background-color: red;
}

#draws {
  width: 5%;
  height: 30px;
  background-color: yellow;
}
