.L {
    background-color: #aa0000;
}

.W {
    background-color: #047e00;
}

.D {
    background-color: #e2dc00;
}

.invisibility {
    visibility: hidden;
}

.hiden {
    display: none;
}

.teamDisplayTable {
    margin-left: 10px;
    width: 375px;
}

.textBox {
    width: 30px;
}

.sub-title {
    margin-top: -2%;
}

label{
    margin-right:5px;
}

#stats {
    position: relative;
    left: -17%;
}

.highlight {
    background-color: #beedeb;
    display: inline-block;
    opacity: 1 !important;
}

.highlight, .leagueOption:hover {
    opacity: .5;
}
