.L {
    background-color: #aa0000;
}

.W {
    background-color: #047e00;
}

.D {
    background-color: #e2dc00;
}

.invisibility {
    visibility: hidden;
}

.hiden {
    display: none;
}

.teamDisplayTable {
    margin-left: 10px;
    width: 350px;
}

.textBox {
    width: 30px;
}

label{
    margin-right:5px;
}